@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

#container {
    width: 500px;
}

#progress {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#progress-bar {
    width: 250px;
    height: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

#progress-fill {
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(100, 255, 128);
}
